.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
!.env.development.example

*.pem
!example.private-jwt.pem
!example.private-ref.pem
!example.public-jwt.pem
!example.public-ref.pem
